<!DOCTYPE  html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec=https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 
      layout:decorator="template">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<html   lang= 'en'  xmlns:th='http://www.w3.org/1000/xhtml'>
<head th:replace='header::header'/>
<title>WELCOME </title>
<style>

</style>

</head>
<body>
<div th:replace='header::navbar'/>
</div>
<div class="container mt-5">



</body>

</html>